.red {
    background: darkred;
}

.green {
    background: darkgreen;
}

.blue {
    background: darkblue;
}

.orange {
    background: darkorange;
}

.yellow {
    background: yellow;
}

.white {
    background: white;
}

.black {
    background: black;
}