.red {
    background: darkred;
}

.green {
    background: darkgreen;
}

.blue {
    background: darkblue;
}

.orange {
    background: darkorange;
}

.yellow {
    background: yellow;
}

.white {
    background: white;
}

.black {
    background: black;
}

.beer {
    background: url('/static/svg/beer.svg') no-repeat center;
    background-size: 100%;
}

.juice {
    background: url('/static/svg/juice.svg') no-repeat center;
    background-size: 100%;
}