/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('/static/css/UyBMtLsHKBKXelqf4x7VRQ.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('/static/css/7aC-Y4V2UPHQp-tqeekgkA.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
    font-family: 'Lato', sans-serif;
}

.progressbar {
    height: 1em;
    width: calc(100% - 4em);
    margin: 2em;
    background-color: gray;
    border: 1px solid #808080;
    border-radius: 5px;
}

.progress {
    height: 100%;
    background-color: #212121;
    border-radius: 5px;
}

.title {
    max-width: 800px;
    margin: 1em auto;
}

.story {

    text-align: center;
    border: 1px solid #808080;
    border-radius: 5px;
    max-width: 750px;
    margin: 2em auto;
    padding: 1%;
    box-shadow: 4px 4px 10px black;
}

.taskdescription {

    text-align: center;
    border: 1px solid #808080;
    border-radius: 5px;
    max-width: 750px;
    margin: 2em auto;
    padding: 1%;
    box-shadow: 4px 4px 10px black;
}

.taskQuestion {

    text-align: center;
    border: 1px solid #808080;
    border-radius: 5px;
    max-width: 750px;
    margin: 2em auto;
    padding: 1%;
    box-shadow: 4px 4px 10px black;
}

.card-centering-row {
    position: relative;
    left: 50%;
}

@media (max-width: 682px) {
    .card-centering-row {
        width: 324px;
    }
}

.card-container {
    display: inline-block;
    padding: 10px;
    margin: 1em 10px;
    border-radius: 15px;
    width: 100%;
    border: 5px solid rgba(255, 255, 255, 0);
    cursor: pointer;
    max-width: 110px;
}

.selected {
    border-color: rgba(255, 0, 0, 1);
}

.card {
    box-shadow: 4px 4px 10px black;
    border-radius: 10px;
    border: 1px solid #808080;
    font-size: 400%;
    padding: 0.5em 0;
    text-align: center;
    vertical-align: middle;
}

.nextbutton {

    float: right;
    margin-right: 4em;
    margin-bottom: 3em;
    font-size: 15pt;
    border-radius: 5px;
    padding: 15px;
}

.continuebutton {
    float: right;
    margin-right: 6em;
    margin-bottom: 3em;
    font-size: 15pt;
    border-radius: 5px;
    padding: 15px;
}

.thanks-text {
    max-width: 750px;
    margin: 5em auto;
    border: 1px solid #808080;
    border-radius: 5px;
    text-align: center;
    padding: 1%;
    box-shadow: 4px 4px 10px black;
}

.submitbutton {
    float: right;
    font-size: 15pt;
    border-radius: 5px;
    margin-right: 3em;
    padding: 15px;
}