.darkred {
    background: darkred;
}

.green {
    background: darkgreen;
}

.blue {
    background: darkblue;
}

.orange {
    background: darkorange;
}

.yellow {
    background: yellow;
}

.white {
    background: white;
}

.black {
    background: black;
}

.beer-card {
    background: url('/static/svg/beer.jpg') no-repeat center;
    background-size: 100%;
}

.car-card {
    background: url('/static/svg/car.png') no-repeat center;
    background-size: 100%;
}

.coffee-card {
    background: url('/static/svg/coffee.jpg') no-repeat center;
    background-size: 100%;
}

.bicycle-card {
    background: url('/static/svg/bicycle.png') no-repeat center;
    background-size: 100%;
}

.PC-card {
    background: url('/static/svg/PC.jpg') no-repeat center;
    background-size: 100%;
}

.TV-card {
    background: url('/static/svg/tv.jpg') no-repeat center;
    background-size: 100%;
}