<div>

<div class="progressbar">

    <div class="progress" ng-style="{'width': (100/taskData.task_number*taskData.progress) + '%'}"></div>

</div>

<div class="title">
    <p ng-show="taskData.story" data-i18n="_storyHeading_" ></p>
</div>

<p class="story" ng-show="taskData.story">{{ taskData.story }}</p>

<div class="title">
    <p data-i18n="_ruleHeading_" ></p>
</div>

<p class="taskdescription">{{ taskData.description }}</p>

<div class="title">
    <p data-i18n="_questionHeading_" ></p>
</div>

<p class="taskQuestion" data-i18n="_taskQuestion_"></p>

<div style="position: relative; left: -50%; float: right; overflow: visible; max-width: 652px;">
    <div class="card-centering-row">
        <div style="display: inline-block; width: 324px;">
            <div ng-class="{'selected': taskData.1.selected}" ng-click="setSelection(1)"
                 class="card-container" onmousedown="event.preventDefault()">
                <div class="card" ng-class="taskData.1.card_id">
                    <span ng-show="taskData.1.card_id.length == 1">{{ taskData.1.card_id }}</span>
                    <span ng-hide="taskData.1.card_id.length == 1">&nbsp;</span>
                </div>
            </div>
            <div ng-class="{'selected': taskData.2.selected}" ng-click="setSelection(2)"
                 class="card-container" onmousedown="event.preventDefault()">
                 <div class="card" ng-class="taskData.2.card_id">
                     <span ng-show="taskData.2.card_id.length == 1">{{ taskData.2.card_id }}</span>
                     <span ng-hide="taskData.2.card_id.length == 1">&nbsp;</span>
                 </div>
            </div>
        </div>
        <div style="display: inline-block; width: 324px;">
            <div ng-class="{'selected': taskData.3.selected}" ng-click="setSelection(3)"
                 class="card-container" onmousedown="event.preventDefault()">
                 <div class="card" ng-class="taskData.3.card_id">
                     <span ng-show="taskData.3.card_id.length == 1">{{ taskData.3.card_id }}</span>
                     <span ng-hide="taskData.3.card_id.length == 1">&nbsp;</span>
                 </div>
            </div>
            <div ng-class="{'selected': taskData.4.selected}" ng-click="setSelection(4)"
                 class="card-container" onmousedown="event.preventDefault()">
                 <div class="card" ng-class="taskData.4.card_id">
                     <span ng-show="taskData.4.card_id.length == 1">{{ taskData.4.card_id }}</span>
                     <span ng-hide="taskData.4.card_id.length == 1">&nbsp;</span>
                 </div>
            </div>
        </div>
    </div>
</div>

<div style="clear: both;"></div>

<div>

    <button class="nextbutton" ng-click="clickNext()" data-i18n="_nextButton_"></button>

</div>

</div>
